/* Đổi màu khi autofill input  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 1000px #111111 inset;
  box-shadow: 0 0 0px 1000px #111111 inset;

  caret-color: #ffffff;
}
